*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;   
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1c1c;
}

.container {
    position: relative;
    width: 450px;
    height: 450px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 6px 6px 10px #00000033,
                inset 6px 0px 0px #ffffff0f;

}
.container h1 {
    color: #fa8e09;
    letter-spacing: 2.5px;
    margin-top: 90px;
    font-size: 31px;   
}

.container p{
    margin-top: 40px;
    color: #fa8e09;
    font-size: 50px;
   

}
.container button{
    cursor: pointer;
    margin: 50px 5px ;
    width: 70px;
    height: 35px;
    background: transparent;
    color: #fa8e09;
    border: 1px solid;
    border-radius: 9px;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: all .4s;
}
button:hover {
    background: #fa8e09;
    color: #1d1c1c;
}